---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <body>
        <h1>About this website</h1>
        <p>This is a blog website created using astro documentation. in futre you will be able to write blog post in here</p>
    </body>
</html>